.cards-container {
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* flex-direction: column; */
  padding: 0px 200px;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 250px;
  padding: 20px;
  margin: 0 40px;
}

.card img {
  height: 100px;
}

ul .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* @media (max-width: 768px) {
  .card {
    width: 100%;
  }
} */
